html,
body {
  width: 100%;
  height: 100%;
}
#app {
  height: 100%;
}
#admin-wrapper {
  height: 100%;
}
.admin-content-container {
  overflow: hidden;
  position: relative;
  height: 100%;
}
.admin-content-container .admin-content-bgimage {
  position: absolute;
}
.admin-content-container .admin-content-info {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -40%);
}
.admin-content-container .admin-content-info .info-inner-title {
  color: #1890ff;
  line-height: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  cursor: pointer;
}
.admin-content-container .admin-content-info .info-inner-title h1 {
  font-size: 35px;
}
.admin-content-container .admin-content-info .info-inner-title h2 {
  font-size: 28px;
  text-align: right;
}
.admin-content-container .admin-content-info .info-inner-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.admin-content-container .admin-content-info .info-inner-link .inner-link-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.admin-content-container .admin-content-info .info-inner-link .inner-link-wrapper a {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 14px 42px;
  border: 1px solid #1890ff;
  text-decoration: none;
  border-radius: 6px;
  transition: all .3s ease;
}
.admin-content-container .admin-content-info .info-inner-link .inner-link-wrapper a:link,
.admin-content-container .admin-content-info .info-inner-link .inner-link-wrapper a:visited {
  color: #1890ff;
}
.admin-content-container .admin-content-info .info-inner-link .inner-link-wrapper a:hover {
  color: #09c;
  border-color: #fff;
}
.admin-content-container .admin-content-info .info-inner-link .inner-link-wrapper a:hover::after {
  right: 0;
  background-color: #1890ff;
}
.admin-content-container .admin-content-info .info-inner-link .inner-link-wrapper a:hover::before {
  left: 0;
  background-color: #1890ff;
}
.admin-content-container .admin-content-info .info-inner-link .inner-link-wrapper a:hover span {
  left: 15px;
}
.admin-content-container .admin-content-info .info-inner-link .inner-link-wrapper a span {
  position: relative;
  left: 0;
  display: inline-block;
  transition: all .3s ease;
}
.admin-content-container .admin-content-info .info-inner-link .inner-link-wrapper a::after,
.admin-content-container .admin-content-info .info-inner-link .inner-link-wrapper a::before {
  content: '';
  display: block;
  width: 98%;
  height: 2px;
  background-color: #fff;
  transition: left .5s ease,
                      right .5s ease;
}
.admin-content-container .admin-content-info .info-inner-link .inner-link-wrapper a::after {
  position: absolute;
  top: 0;
  right: -100%;
}
.admin-content-container .admin-content-info .info-inner-link .inner-link-wrapper a::before {
  position: absolute;
  bottom: 0;
  left: -100%;
}
.admin-content-container .admin-content-info .info-inner-link .inner-link-wrapper .inner-link-to-blog,
.admin-content-container .admin-content-info .info-inner-link .inner-link-wrapper .inner-link-to-github {
  margin-top: 8px;
}
