html,
body {
  width: 100%;
  height: 100%;
}
#app {
  height: 100%;
}
#admin-wrapper {
  height: 100%;
}
.admin-content-container {
  overflow: hidden;
  position: relative;
  height: 100%;
}
.admin-content-container .admin-content-bgimage {
  height: 100%;
  background-image: url(../images/section_bg.jpg);
  background-size: cover;
  background-repeat: repeat;
  filter: blur(15px);
}
.admin-content-container .admin-content-info {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -200px;
  margin-left: -200px;
}
.admin-content-container .admin-content-info .content-info-inner {
  width: 600px;
  height: 400px;
}
.admin-content-container .admin-content-info .info-inner-title {
  color: #fff;
  line-height: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  cursor: pointer;
}
.admin-content-container .admin-content-info .info-inner-title h1 {
  font-size: 35px;
}
.admin-content-container .admin-content-info .info-inner-title h2 {
  font-size: 28px;
  text-align: right;
}
